node_modules
dist
dist-ssr
*.local
cloudflared.exe
.DS_Store

# Android Build & Gradle
android/.gradle/
android/build/
android/app/build/
android/.idea/
android/*.iml
android/local.properties
android/captures/
android/.externalNativeBuild/
android/.cxx/
